@font-face {
	font-family: 'GOST Common';
	src: url(../../assets/fonts/GOSTCommon.woff2) format('woff2'),
	url(../../assets/fonts/GOSTCommon.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}